// Place all the styles related to the Images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.images-list {
  li {
    list-style-type: none;
    float: left;
    margin-right: 5px;
  }
  img {
    max-height: 128px;
  }
}

.images-show {
  img {
    max-width: 1024px;
  }
  text-align: center;
}
